server_ip            = "192.168.1.114" # Replace with your homelab server IP
ssh_user             = "francisco"     # Replace with your SSH username
ssh_private_key_path = "~/.ssh/id_ed25519" # Replace with path to your private key
media_directory      = "/srv/media"    # Matches what is in bootstrap.sh
